/* CSS Document */
.box1,.box3,.box4{
	margin: 0 auto;
	width: 1170px;
}
h1{
	font-size:30px;
	color:#475168;
}
.box1_bottom div,.box2_right a.btn,.box3_left,.box3_right .content p,.box4 .arrow a{
	border-radius:8px;
	-o-border-radius:8px;
	-ms-border-radius:8px;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
}
.banner .pot a,.box3_right .personal img,.box4 ul li i{
	border-radius:50%;
	-o-border-radius:50%;
	-ms-border-radius:50%;
	-moz-border-radius:50%;
	-webkit-border-radius:50%;
}
.banner_pic div,.box4 ul li div,.box3_right .arrow a.left_arr,.box3_right .arrow a.right_arr{
	filter:alpha(opacity=0);
	opacity: 0;
	-o-opacity:0;
	-ms-opacity:0;
	-moz-opacity:0;
	-webkit-opacity:0;
}
.box4 ul li:hover div,.box4 ul li i:hover{
	filter:alpha(opacity=50);
	opacity: .5;
	-o-opacity:.5;
	-ms-opacity:.5;
	-moz-opacity:.5;
	-webkit-opacity:.5;
}
.box3_right .arrow a:hover,.box3_right:hover .arrow a.left_arr,.box3_right:hover .arrow a.right_arr{
	filter:alpha(opacity=1);
	opacity: 1;
	-o-opacity:1;
	-ms-opacity:1;
	-moz-opacity:1;
	-webkit-opacity:1;
}
.box1 ul li div,.box1 ul li div:hover,.box2_right a.btn,.box2_right a.btn:hover,.box3_right .arrow a.left_arr,.box3_right .arrow a.right_arr,.box3_right:hover .arrow a.left_arr,.box3_right:hover .arrow a.right_arr,.box4 ul li a,.box4 ul li:hover a,.box4 ul li div,.box4 ul li div,.box4 ul li:hover div,.box4 .arrow a,.box4 .arrow a:hover{
	transition:all .5s;
	-o-transition:all .5s;
	-ms-transition:all .5s;
	-moz-transition:all .5s;
	-webkit-transition:all .5s;
}
/*轮播图*/
.banner{
	position:relative;
	height: 500px;
}
.banner_pic div{
	position:absolute;
	top:0;
	right: 0;
	left:0;
	height: 500px;
}
.banner_pic .tp1{background: #475168;}
.banner_pic .tp2{background: url("../images/banner_bg.jpg") no-repeat;}
.banner_pic .tp3{background: url("../images/red-bg.jpg") no-repeat;}
.banner .pot{
	position:absolute;
	bottom:24px;
	left: 50%;
	margin-left: -29px;
}
.banner a{display: none;}
.banner .pot a{
	float:left;
	margin:0 4px;
	width:14px;
	height:14px;
	background:#d8d8d8;
	}
.banner .pot a.cur{background:#919191;}
.banner .larr,.banner .rarr{
	position:absolute;
	top:50%;
	margin-top: -20px;
	width:40px;
	height:40px;
}
.banner .larr{
	left:16px;
	background:url(../images/large_left.png) no-repeat;
}
.banner .rarr{
	right:16px;
	background:url(../images/large_right.png) no-repeat;
}
.banner:hover a{display: block;}
.banner .larr:hover{background:url(../images/large_left.png) no-repeat 0 -40px;}
.banner .rarr:hover{background:url(../images/large_right.png) no-repeat 0 -40px;}
/*box1*/
.box1 .title{text-align:center;}
.box1 .title h1{margin:52px 0 10px;}
.box1 .title h2{
	font-family: 'Open Sans', sans-serif;
	font-weight: normal;
	color:#a598a4;
}
.box1 ul{
	margin:62px 0 80px;
	overflow:hidden;
}
.box1 ul li{
	float:left;
	margin-right:30px;
	width:360px;
}
.box1 ul li div{
	width:360px;
	height:210px;
	text-align:center;
	font-size:14px;
	color:#797979;
	line-height:290px;
	background:#f4f4f4;
	border-radius:10px;
	-o-border-radius:10px;
	-ms-border-radius:10px;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
}
.box1 ul li div.orange,.box1 ul li div:hover{
	color:#fff;
	background:#f77b6f;
}
.box1 ul li.r0{margin-right:0;}
.box1 ul li p{
	margin-top:25px;
	font-family: 'Open Sans', sans-serif;
	font-size:14px;
	color:#797979;
	line-height:20px;
}
.box1_bottom{margin-bottom: 76px;}
.box1_bottom_left{
	float:left;
	padding:20px 0 0 20px;
	width:75%;
	height:70px;
	color:#679dc4;
	line-height:27px;
	background:#475168;
}
.box1_bottom_right{
	float:right;
	width:22.5%;
	height:90px;
	text-align:center;
	background:#ff6c60;
	line-height:90px;
}
.box1_bottom_right:hover{background: #ec6459;}
.box1_bottom h2{color:#fff;}
.box1_bottom_right a{
	width:100%;
	text-align:center;
	color:#fff;
	line-height:90px;
	display:block;
}
.box2_bg{
	padding: 100px 0;
	background:#f4f4f4;
	overflow:hidden;
}
.box2{
	margin: 0 auto;
	width: 1076px;
}
.box2_left{
	float:left;
	margin-left: 32px;
}
.box2_right{
	float:right;
	width:528px;
	height:338px;
}
.box2_right h1{
	margin:15px 0 33px;
	font-size:22px;
}
.box2_right p{
	color:#797979;
	line-height:24px;
}
.box2_right a.btn{
	margin-top:35px;
	width:194px;
	height:63px;
	text-align:center;
	font-size:14px;
	color:#fff;
	line-height:63px;
	background:#475168;
	display:block;
}
.box2_right a.btn:hover{background: #f77b6f;}
.box3{margin-top:60px;}
.box3_left{float:left;}
.box3_left a{display:block;}
.box3_left .box3_title{overflow:hidden;}
.box3_left .box3_title li{
	float:left;
	width:187px;
	height:55px;
	text-align:center;
	color:#fff;
	line-height:55px;
	background:#6f6f6f;
}
.box3_left .box3_title li.tlrd{
	border-top-left-radius:8px;
	-o-border-top-left-radius:8px;
	-ms-border-top-left-radius:8px;
	-moz-border-top-left-radius:8px;
	-webkit-border-top-left-radius:8px;
}
.box3_left .box3_title li.trrd{
	border-top-right-radius:8px;
	-o-border-top-right-radius:8px;
	-ms-border-top-right-radius:8px;
	-moz-border-top-right-radius:8px;
	-webkit-border-top-right-radius:8px;
}
.box3_left .box3_title li.lrborder{
	border-left:1px solid #fff;
	border-right:1px solid #fff;
}
.box3_left .box3_title li.cur{
	
}
.box3_left .box3_title li:hover{
	color:#797979;
	background:#f4f4f4;
	cursor: pointer;
}
.box3_left .box3_cont{
	width:563px;
	display: none;
}
.box3_left .box3_cont li{
	padding:10px;
	background:#f4f4f4;
	overflow:hidden;
}
.box3_left .box3_cont li img{
	float:left;
	margin-right:10px;
}
.box3_left .box3_cont li a{
	color:#ea7b70;
	font-size:14px;
}
.box3_left .box3_cont li p{
	color:#797979;
	line-height:24px;
}
.box3_right{
	position: relative;
	float:right;
	margin-right: 22px;
	width:555px;
}
.box3_right ul{overflow: hidden;}
.box3_right ul li{
	position: absolute;
	display: none;
}
.box3_right .personal img{
	float:left;
	margin-left:10px;
}
.box3_right .personal .article_name{
	float:left;
	margin:35px 0 0 10px;
}
.box3_right .personal .article_name h3{
	font-size:16px;
	font-weight: normal;
	color:#475168;
}
.box3_right .personal .article_name p{margin-top:5px;}
.box3_right .content{position:relative;}
.box3_right .content i{
	position:absolute;
	top:-10px;
	left:50px;
	width:20px;
	height:11px;
	background:url(../images/tu2.png) no-repeat;
}
.box3_right .content p{
	margin-top:20px;
	padding:25px;
	color:#797979;
	line-height:20px;
	background:#e9e9e9;
}
.box3_right .arrow{
	position: absolute;
	top:26px;
	right: 10px;
	width: 124px;
}
.box3_right .arrow a{
	position: absolute;
	width: 30px;
	height: 30px;
	background: url("../images/bg_direction_nav.png") no-repeat;
	filter:alpha(opacity=70);
	opacity: .7;
	-o-opacity: .7;
	-ms-opacity: .7;
	-moz-opacity: .7;
	-webkit-opacity: .7;
}
.box3_right .arrow a.left_arr{
	left: 0;
	background-position: 0 0;
}
.box3_right .arrow a.right_arr{
	right: 0;
	background-position: -30px 0;
}
.box3_right:hover .arrow a.left_arr{
	left: 30px;
	transition:all .5s;
}
.box3_right:hover .arrow a.right_arr{
	right: 30px;
	transition:all .5s;
}
.box4{position: relative;}
.box4 h1{
	margin:52px 0 20px;
	font-size:26px;
}
.box4 ul{
	padding-bottom: 70px;
	overflow:hidden;
}
.box4 ul li{
	position: relative;
	float:left;
	margin-right:22px;
	width:270px;
	height: 203px;
	overflow: hidden;
}
.box4 ul li.r0{margin-right:0;}
.box4 ul li a{
	width:270px;
	height: 203px;
	background-size: 270px 203px;
	background-repeat: no-repeat;
	display: block;
}
.box4 ul li a.img1{background-image: url("../images/img1.jpg");}
.box4 ul li a.img2{background-image: url("../images/img2.jpg");}
.box4 ul li a.img3{background-image: url("../images/img3.jpg");}
.box4 ul li a.img4{background-image: url("../images/img4.jpg");}
.box4 ul li:hover a{
	background-position: -604px -384px;
	background-size: 540% 480%;
}
.box4 ul li div{
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: #000;
}
.box4 ul li i{
	position: absolute;
	bottom: -40px;
	width: 40px;
	height: 40px;
	cursor: pointer;
	transition:all .4s;
	-o-transition:all .4s;
	-ms-transition:all .4s;
	-moz-transition:all .4s;
	-webkit-transition:all .4s;
}
.box4 ul li:hover i{
	bottom: 50%;
	margin-bottom: -20px;
	background: #fff;
	transition:all .6s;
	-o-transition:all .6s;
	-ms-transition:all .6s;
	-moz-transition:all .6s;
	-webkit-transition:all .6s;
}
.box4 ul li i.licon{left: 85px;}
.box4 ul li i.ricon{right: 85px;}
.box4 .arrow{
	position: absolute;
	bottom: 0;
	left: 50%;
	margin-left: -92px;
	overflow: hidden;
}
.box4 .arrow a{
	float: left;
	margin: 0 4px;
	width:71px;
	height:42px;
	text-align:center;
	font-weight:bold;
	color:#475168;
	line-height:42px;
	background:#f4f4f4;
}
.box4 .arrow a:hover{
	color: #fff;
	background: #f77b6f;
}
.box5{
	margin-top:50px;
	padding:150px 0;
	height:100px;
	text-align:center;
	background:url("../images/flat_parallax.jpg") no-repeat fixed;
}
.box5 i{
	margin: 0 auto;
	width: 972px;
	font-family: 'Open Sans', sans-serif;
	font-size:24px;
	color:#fff;
	line-height:40px;
	display:block;
}
.box6{
	margin: 50px auto;
	width: 900px;
	overflow:hidden;
}
.box6 li{
	float:left;
	margin:0 30px;
}