.nav_name_bg{
	margin-bottom: 40px;
	height: 126px;
	background: #475268;
}
.nav_name{
	margin: 0 auto;
	width: 1170px;
}
.nav_title,.nav_name_path{
	height: 100%;
	line-height: 126px;
}
.nav_title{float: left;}
.nav_name_path{float: right;}
.nav_title h1{
	margin-left: 12px;
	color: #fff;
}
.nav_name_path a{color: #ec746b;}
.nav_name_path span{color: #fff;}